body {
    background-image: url(../images/Bluesky.jpg);
    background-size: cover;
    background-repeat: no-repeat center center fixed; 
    text-align: center;
    font-family: 'Ranchers', cursive;
}

#logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron {
    background-color: #e9ecef;
    text-align: center;
    opacity: 5;
}
.card-header {
    background-color: #e9ecef;
    text-align: center;
}

.card-body {
    margin-bottom: 20px;
}



